a { 
  cursor: pointer;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-minus-1 {
  margin-top: -1px !important;
}

nav {
  background-color: #E1E7F3;
}

i {
  color: grey
}

.nodecor:hover {
  text-decoration: none;
}

.project {
  border: 1px solid lightgrey;
}

.project-actions {
  visibility: hidden;
}

div.project:hover > div.project-actions {
  visibility: visible;
}

.project:hover {
  background-color: #f3f3f3;
}

.project-show-tasks {
  background-color: #E1E7F3;
}

.task {
  border: 1px solid lightgrey;
  margin: -1px 0 0 -1px;
}

.task-actions {
  visibility: hidden;
}

div.task:hover > div.task-actions {
  visibility: visible;
}

.task-completed {
  color: grey;
  text-decoration: line-through;
}

.text-smaller {
  font-size: smaller;
}

.deadline {
  color: green;
}

.deadline-expired {
  color: red;
}

.deadline-form {
  z-index: 1;
  background-color: white;
  border: 1px solid lightgrey;
  margin-left: 25%;
  margin-top: -25%;

  -webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.5);
}

.add-file {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.loading-spinner {
  z-index: 1;
  height: 100%; 
  width: 100%; 
  background-color: white;
}
